* {
    font-family: monospace;
}

body {
    background-color: #23272e;
}

#calculator {
    background-color: #1b1a1f;
    width: 600px;
    height: 700px;
    margin: auto;
    border-radius: 20px;
}

.input-box {
    height: 100px;
    background-color: #30323e;
    display: flex;
    justify-content: end;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#input {
    color: white;
    font-size: 48px;
    padding-right: 30px;
}

.logo-text {
    background-color: #314381;
    color: white;
    margin: 0;
    text-align: right;
    padding: 5px;
    padding-right: 30px;
    font-size: 18px;
}

.number-btn, .symbol-btn {
    width: 80px;
    height: 80px;
    border-radius: 25px;
    border: 0;
    flex: 1;
    font-size: 24px;
}

.number-btn {
    color: white;
    background-color: #22222a;
}

.row {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.symbol-btn {
    background-color: #414659;
    color: white;
}

.main-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 30px;
}

.equal-btn {
    background-color: #314381;
    color: #d8e3ff;
}

.clear-btn {
    background-color: #61395e;
    color: #fcd2f6;
}