html {
    background-color: #fbf0ff;
}

.square {
    background-color: pink;
    width: 80px;
    height: 80px;
    margin: 1px;
}

.row {
    display: flex;
}

#main-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    text-align: center;
}

#new-section {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#new-button {
    background-color: purple;
    border: 0;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    cursor: pointer;
}