* {
  font-family: "Roboto", serif;
}

html,
body {
  margin: 0;
}

.main-info,
.footer {
  background-color: #1f2937;
  color: white;
}

.quote {
  background-color: #e5e7eb;
}

.header {
  display: flex;
  align-items: center;
  height: 50px;
}

.header-img,
.header-links {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header-link {
  padding-left: 15px;
  padding-right: 15px;
  color: inherit;
  text-decoration: inherit;
  color: #e5e7eb;
  font-size: 18px;
}

.header-img {
  font-size: 18px;
}

.header-img {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 30px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 450px;
}

.hero-content .title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.hero-content .subtitle {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-img {
  width: 525px;
  height: 235px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6d747d;
}

.signup {
  background-color: #3882f6;
  color: white;
  font-weight: bold;
  font-size: 18px;
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.signup.big {
  width: 1020px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  cursor: auto;
}

.signup.big .title {
  font-size: 24px;
  margin: 0;
}
.signup.big .subtitle {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.signup .signup.inverted {
  border: 2px solid white;
}

.middle-images .title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.middle-images .images-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.middle-images .images-container .img {
  border: 1px solid #3882f6;
  width: 160px;
  height: 160px;
  border-radius: 20px;
  border-width: 3px;
}

.middle-images .images-container .text {
  width: 160px;
  height: 160px;
  text-align: center;
  font-size: 18px;
  color: #4b5563;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
  padding-top: 70px;
}

.quote.text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
  width: 800px;
  margin: 0;
  padding: 0;
}

.quote.author {
  color: #1f2937;
  font-weight: bold;
  font-size: 24px;
  width: 800px;
  align-items: end;
  margin: 0;
  padding: 0;
}

.action-call {
  display: flex;
  justify-content: center;
  margin: 100px;
}
